<% include common/header.ejs %>
    <h1><%= title %></h1>
  

<table  class="table table-striped">

<tr>
	<th>_id</th>
	<th>
    用户名
    </th>
    <th>
    密码
    </th>
</tr>

<tr>
	<td>
    <%=user._id%>
    </td>
	<td>
    <%=user.name%>
    </td>
    <td>
    <%=user.password%>
    </td>
</tr>
</table>

    <script type="text/javascript" >
    $('#user').addClass('active')

    </script>

<% include common/footer.ejs %>
