<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/style.js"></script>
  </head>
  <div class="container">

  <body>
    <nav  class="nav nav-pills">
      <li role="presentation" id="index"><a href="/">首页</a></li> 
             <% if (user) { %>
    
  
      <li role="presentation" id="add"><a href="/add">发表</a></li>
      <li role="presentation" id="list"><a href="/list">列表</a></li>
      <li role="presentation" id="user"><a href="/user/<%=user._id%>"><%=user.name%>的个人中心</a></li>
      <li role="presentation" id="logout" ><a href="/logout">退出</a></li>
              <% } else { %>
      <li role="presentation" id="login"><a href="/login">登陆</a></li>
      <li role="presentation" id="reg"><a href="/reg">注册</a></li>
              <% } %>
    </nav>

